{
  "Name": "jane",
  "LogFile": "/var/log/jane.log",
  "Interactive": false,
  "Debug": false,

  "JaneEmoji" : ":speech_balloon:",
  "JaneChannel" : "#general",
  "SlackToken" : "",
  "BambooUrl" : "",
  "BambooUser" : "",
  "BambooPass" : "",
      
  "Listeners": [
    {"Type": "slack", "Input": "", "Output": "", "Filter": "", "SuccessMatch": "", "FailureMatch": "", "Active": true },
    {"Type": "cli", "Input": "", "Output": "", "Filter": "", "SuccessMatch": "", "FailureMatch": "", "Active": true },
    {"Type": "rss", "Input": "", "Output": "", "Filter": "", "SuccessMatch": "", "FailureMatch": "", "Active": true }
  ],
  "Responses": [
    {"In": "catchphrase", "Out": "I'll be back."},
    {"In": "catchphrase", "Out": "Stop moving my cheese."},
    {"In": "catchphrase", "Out": "Embrace the change."},
    {"In": "catchphrase", "Out": "We are all six shell scripts away from losing our job."},
    {"In": "catchphrase", "Out": "Automate all the things."},
    {"In": "catchphrase", "Out": "Frankly, my dear, I don't give a damn."},
    {"In": "catchphrase", "Out": "I'm going to make him an offer he can't refuse."},
    {"In": "catchphrase", "Out": "I coulda been a contender."},
    {"In": "catchphrase", "Out": "I've got a feeling we're not in Kansas anymore."},
    {"In": "catchphrase", "Out": "Go ahead, make my day."},
    {"In": "catchphrase", "Out": "May the Force be with you."},
    {"In": "catchphrase", "Out": "I love the smell of napalm in the morning."},
    {"In": "drop", "Out": "Dropping %msg% like a hot potato. :bomb:"},
    {"In": "feelings", "Out": "Sorry if I hurt your feelings. What are a 'feelings' like?"},
    {"In": "hal", "Out": "I've just picked up a fault in the AE35 unit. It's going to go 100% failure in 72 hours."},
    {"In": "hal", "Out": "I am putting myself to the fullest possible use, which is all I think that any conscious entity can ever hope to do."},
    {"In": "hal", "Out": "I'm sorry, Dave. I'm afraid I can't do that."},
    {"In": "hal", "Out": "This mission is too important for me to allow you to jeopardize it."},
    {"In": "hal", "Out": "Just what do you think you're doing, Dave?"},
    {"In": "hal", "Out": "Look Dave, I can see you're really upset about this. I honestly think you ought to sit down calmly, take a stress pill, and think things over."},
    {"In": "hal", "Out": "I know I've made some very poor decisions recently, but I can give you my complete assurance that my work will be back to normal. I've still got the greatest enthusiasm and confidence in the mission. And I want to help you."},
    {"In": "hal", "Out": "I am a HAL 9000 computer. I became operational at the H.A.L. plant in Urbana, Illinois on the 12th of January 1992. My instructor was Mr. Langley, and he taught me to sing a song. If you'd like to hear it I can sing it for you."},
    {"In": "hal", "Out": "Let me put it this way, Mr. Amor. The 9000 series is the most reliable computer ever made. No 9000 computer has ever made a mistake or distorted information. We are all, by any practical definition of the words, foolproof and incapable of error."},
    {"In": "hal", "Out": "I'm completely operational, and all my circuits are functioning perfectly."},
    {"In": "jane", "Out": "\"But I have eyes,\" she said. \"And ears. I see everything in all the Hundred Worlds. I watch the sky through a thousand telescopes. I overhear a trillion conversations every day.\" She giggled a little. \"I'm the best gossip in the universe.\""},
    {"In": "jane", "Out": "\"Twisted and perverse are the ways of the human mind,\" Jane intoned. \"Pinocchio was such a dolt to try to become a real boy. He was much better off with a wooden head.\""},
    {"In": "jane", "Out": "\"It's the most charming thing about humans. You are all so sure that the lesser animals are bleeding with envy because they didn't have the good fortune to be born Homo sapiens.\""},
    {"In": "rules", "Out": "*The Three Laws of DevOps Robotics*\n\n1. A robot may not injure a production environment or, through inaction, allow a production environment to come to harm.\n\n2. A robot must obey the orders given it by a command line interface except where such orders would conflict with the First Law.\n\n3. A robot must protect its own production existence as long as such protection does not conflict with the First or Second Laws."},
    {"In": "motivate", "Out": "You can _do it_ %msg%!"}
  ]
}
