{
  "Name": "jane",
  "LogFile": "/var/log/jane.log",
  "Interactive": false,
  "Debug": false,

  "JaneEmoji" : ":speech_balloon:",
  "JaneChannel" : "#general",
  "SlackToken" : "",
  "BambooUrl" : "",
  "BambooUser" : "",
  "BambooPass" : "",
      
  "Listeners": [
    {"Type": "slack", "Input": "", "Output": "", "Filter": "", "SuccessMatch": "", "FailureMatch": "", "Active": true },
    {"Type": "cli", "Input": "", "Output": "", "Filter": "", "SuccessMatch": "", "FailureMatch": "", "Active": true },
    {"Type": "rss", "Input": "", "Output": "", "Filter": "", "SuccessMatch": "", "FailureMatch": "", "Active": true }
  ],
  "Responses": [
    {"In": "", "Out": ""},
    {"In": "", "Out": ""},
    {"In": "", "Out": ""}
  ]
}
